{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<body>
	<h1>Contracts</h1>
	<div class="container">
        <form method="POST">
		    <div class="dropdown">
		    	<label for="contract-recipient">Contract Recipient</label>
		    	<select id="contract-recipient" name="contract_recipient">
		    		<option value="all">All</option>
		    		<option value="character">Character</option>
		    		<option value="corporation">Corporation</option>
		    	</select>
		    </div>
		    <div class="dropdown">
			    <label for="contract-status">Contract Status</label>
			    <select id="contract-status" name="contract_status">
			    	<option value="all">All</option>
			    	<option value="outstanding">Outstanding</option>
			    	<option value="finished">Finished</option>
			    	<option value="expired">Expiried</option>
			    </select>
		    </div>
            <input type="submit" value="Submit">
        </form>
		<div class="results">
			<ul>
				{% if contract_data %}
                {% for contract in contract_data %}
				<br>{{ contract }}
				{% endfor %}
                {% endif %}
			</ul>
		</div>
	</div>

{% endblock %}